.metadata/*
IteraciosModszerek/.settings/*
IteraciosModszerek/build.xml
IteraciosModszerek/forms*
IteraciosModszerek/IteraciosModszerek.eml
IteraciosModszerek/IteraciosModszerek.iml
IteraciosModszerek/manifest.mf
IteraciosModszerek/bin/*
IteraciosModszerek/doc/*
IteraciosModszerek/nbproject/*
IteraciosModszerek/src/~$cumentation.docx
.idea/*
newVector/*